/* GENERAL */

.title h1 {
  text-align: center;
}

.buffer {
  border: 1px solid #fff;
}

/* BULLES DE DIALOGUE */

h5 {
  text-align: center;
  color: #fff;
}

.speech-bubble1 {
  position: relative;
  background: #000000;
  border-radius: .4em;
}

.speech-bubble1:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  border: 0.5em solid transparent;
  border-top-color: #000000;
  border-bottom: 0;
  margin-left: -0.5em;
  margin-bottom: -0.5em;
}

.speech-bubble2 {
  position: relative;
  background: #000000;
  border-radius: .4em;
  width: 100%;
}

.speech-bubble2:after {
  content: '';
  position: absolute;
  right: 0;
  top: 50%;
  width: 0;
  height: 0;
  border: 0.5em solid transparent;
  border-left-color: #000000;
  border-right: 0;
  border-top: 0;
  margin-top: -0.5em;
  margin-right: -0.5em;
}

.speech-bubble3 {
  position: relative;
  background: #000000;
  border-radius: .4em;
}

.speech-bubble3:after {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  width: 0;
  height: 0;
  border: 0.625em solid transparent;
  border-right-color: #000000;
  border-left: 0;
  border-top: 0;
  margin-top: -0.312em;
  margin-left: -0.625em;
}

.speech-bubble4 {
  position: relative;
  background: #000000;
  border-radius: .4em;
}

.speech-bubble4:after {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  width: 0;
  height: 0;
  border: 0.625em solid transparent;
  border-bottom-color: #000000;
  border-top: 0;
  margin-left: -0.625em;
  margin-top: -0.625em;
}

.speech-bubble5 {
  position: relative;
  background: #000000;
  border-radius: .4em;
}

.speech-bubble5:after {
  content: '';
  position: absolute;
  right: 0;
  top: 50%;
  width: 0;
  height: 0;
  border: 0.75em solid transparent;
  border-left-color: #000000;
  border-right: 0;
  border-top: 0;
  margin-top: -0.375em;
  margin-right: -0.75em;
}

/* HORLOGE */

.clockjs {
  font-family: "Montserrat", sans-serif;
  font-size: 3em;
  text-align: center;
}

/* TO-DO LIST */

.todo {
  text-align: center;
}

.list {
  list-style: none;
  text-align: center;
}

/* CALCULATRICE */

#minus {
  font-size: 11.5px;
}

#display {
  text-align: right;
  color: #000;
}

/* DINOSAURES */

.ascii {
  font-family: "monospace";
  font-size: 11px;
  font-weight: bold;
  white-space: pre;
}

/* SLIDER */

.slideshow {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.mySlides {
  display: none;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  pasing: 16px;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.8);
}

.numbertext {
  color: #fff;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: .4
  }
  to {
    opacity: 1
  }
}

@keyframes fade {
  from {
    opacity: .4
  }
  to {
    opacity: 1
  }
}
